# Cron task configuration for rsnapshot 
# Author: njkrichardson@princeton.edu 

 {{ daily_backup_minute }}  {{ daily_backup_hour }} * * *		root	/usr/bin/rsnapshot daily
 {{ weekly_backup_minute }}  {{ weekly_backup_hour }} * * {{ weekly_backup_day }}		root	/usr/bin/rsnapshot weekly 
 {{ monthly_backup_minute }}  {{ monthly_backup_hour }} {{ monthly_backup_day }} * *		root	/usr/bin/rsnapshot monthly
